/node_modules/
.DS_Store

/Mold/Core/Test/Tester.js
/Mold/Core/Test/CLIReporter.js
/Mold/CMD/Test.js
/Mold/Core/EventStore.js
/Mold/Core/Event.js
/Mold/Core/CLIForm.js
/Mold/Core/CLILoadingBar.js
/Mold/Core/CLI.js
/Mold/Core/Test/ConsoleReporter.js
/Mold/Test/Core/Tester.js
/Mold/Core/CLIHelper.js